<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<script language="JavaScript">
<!--
function calculateBmi() {
var weight = document.getElementById('w').value
var height = document.getElementById('h').value
if(weight > 0 && height > 0){   
var finalBmi = weight/(height/100*height/100)
document.getElementById('bmi').innerHTML = " Your BMI is :"+finalBmi
if(finalBmi < 18.5){
document.getElementById('means').innerHTML = "That you are too thin."
}
if(finalBmi > 18.5 && finalBmi < 25){
document.getElementById('means').innerHTML = "That you are healthy."
}
if(finalBmi > 25){
document.getElementById('means').innerHTML = "you have overweight."
}
}
else{
alert("Please Fill in everything correctly")
}
}
//-->
</script>
<style >
    .txt-al{
        text-align: center;
    }
        form{
            margin-left: 30px;
                padding: 50px;
            width: 500px;
                position:absolute;
                top:50%;
                left:50%;
                background-color: white;
                transform: translate(-50%,-50%);
                box-shadow: 2px 5px 16px 0px #0B325E

    }
</style>
<body>
    <form class="txt-al" >
        <div class="form-group">
Your Weight(kg):<br/><br/> <input class="form-control input-sm"  type="text" id="w"name="weight" size="10"><br/></div>
<div class="form-group">
Your Height(cm): <br/><br/><input class="form-control input-sm"  type="text" id="h"name="height" size="10"><br/><br/><div>
    <div> <button class="btn btn-info btn-sm btn-block" type="button" class="btn btn-info" value="Calculate BMI" onClick="calculateBmi()">Calculate BMI</button>
<br/><br/></div>
 <div class="form-group"><p id="bmi" ></p></div>
<div class="form-group"><p id="means"></p><br /></div>

</form>

</body>
</html>