{% load static %}
{% block content %}

<html>
    <head>
        <meta charset="utf-8">
            <meta name="description" content="I2R Converter">
            <meta name="keywords" content="BMI , Healthy , HTML , JS , Web">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <link rel="shortcut icon" href="{% static 'assets/img/bento.png' %}" type="image/x-icon">
            <title>I2R Converter</title>
            <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
            <script src="{% static 'assets/js/myscript.js' %}"></script>
    </head>
<script language="JavaScript">

function calculateBmi() {
var weight = document.getElementById('h').value
var height = document.getElementById('w').value
if(weight > 0 && height > 0){   
var finalBmi = weight/(height/100*height/100)
document.getElementById('bmi').innerHTML = " Your BMI is :"+finalBmi
if(finalBmi < 18.5)
    {
        document.getElementById('means').innerHTML = "That you are too thin."
    }
if(finalBmi > 18.5 && finalBmi < 25)
    {
        document.getElementById('means').innerHTML = "That you are healthy."
    }
if(finalBmi > 25)
    {
        document.getElementById('means').innerHTML = "you have overweight."
    }
}
else
    {
        alert("Please Fill in everything correctly")
    }
}

</script>
<style >
    .txt-al
    {
        text-align: center;
        border-radius: 10px;
    }
    form
    {
        margin-left: 30px;
        padding: 50px;
        width: 500px;
        position:absolute;
        top:50%;
        left:50%;
        background-color: white;
        transform: translate(-50%,-50%);
        box-shadow: 2px 5px 12px 0px #0B325E

    }
</style>
    <body>
        <header class="top-navbar">
            <nav style="top: 0px;" class="navbar navbar-expand-lg navbar-light bg-dark navbar-right ">
                <a style="margin-left: 20px; padding-bottom: 0px;" class="navbar-brand" href="#"><img src="{% static 'assets/img/bento.png' %}" height="50px" width="50px" alt=""><span style="color: white; font-weight: bold; margin-left: 5px;">I2R</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/search">Get Recipe</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/bmi">BMI calculator</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{username}} &nbsp;<i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/logout">Logout</a>
                          <a class="dropdown-item" href="#">Profile</a>
                          <a class="dropdown-item" href="#">About</a>
                        </div>
                      </li>
                  </ul>
                </div>
              </nav>
              
        </header>
        {% include './includes/messages.html' %}

        <form style="margin-top:50px;font-size: 16px; color: black;padding-bottom:0px" class="txt-al" >
            <div class="form-group">
                Your Weight (kg):<br/><br/> 
                <input class="form-control input-sm"  type="number" value="{{weight}}" id="w" name="weight" size="10">
                <br/>
            </div>
            <div class="form-group">
                Your Height (cm): <br/><br/>
                <input class="form-control input-sm"  type="number" value="{{height}}" id="h" name="height" size="10">
                <br/><br/>
            </div>
            <div> 
                <button style="background-color: rgb(110, 41, 41);" class="btn btn-info btn-sm btn-block" type="button" value="Calculate BMI" onClick="calculateBmi()">Calculate BMI</button>
                <br/><br/>
            </div>
            <div class="form-group">
                <p id="bmi" ></p>
            </div>
            <div class="form-group">
                <p id="means"></p>
                <br />
            </div>

        </form>

    </body>
</html>

{% endblock content %}