{% load static %}
{% block content %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="I2R Converter">
        <meta name="keywords" content="BMI , Healthy , HTML , JS , Web">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">
        <title>I2R Converter</title>
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
        <script src="{% static 'assets/js/myscript.js' %}"></script>

    </head>
    <body>
      <nav class="navbar navbar-light shadow sticky-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="/">I2R Converter</a>            
            <div class=""  id="navcol-1">
                <a class="font-weight-bold ml-auto text-dark" href = "/signup">Sign Up</a>
                
            </div>
        </div>
      </nav>
      {% include './includes/messages.html' %}
          <div class="container animate fadeIn">
              <div class="card shadow-lg o-hidden border-0 my-5">
                  <div class="card-body p-0">
                      <div class="row">
          
                          <div class="col-lg-6">
                              <div class="p-5">
                                  <div class="text-center">
                                      <h4 class="text-black-50 font-weight-bold mb-4">Sign In now! </h4>
                                  </div>
                                  <form action="" class="user" method="POST">
                                    {% csrf_token %}  
                                    <div class="col-12 form-group row">
          
          
                                          <input class="col-12 form-control form-control-user" type="text" aria-describedby="emailHelp" placeholder="Email / Username" name="email" formControlName="email">
                                          <div >
                                            &nbsp;
                                        </div>
                                          <input class="col-12 form-control form-control-user" type="password"  placeholder="Password" formControlName="password" name="password">
                                          <div >
                                            &nbsp;
                                        </div>
                                          <hr/>
                                          <button class="col-12 btn btn-success btn-block text-white btn-user" type="submit">
                                              <span class="bi bi-check"></span> &nbsp; Login</button>
          
                                      </div>
                                  </form>
                                  <hr/>
                                    <a class="col-3 text-primary" href="/signup">
                                    <span class="bi bi-arrow-right"></span> &nbsp;SIGN UP</a>
          
                              </div>
                          </div>
                          <div class="col-lg-6 d-none d-lg-flex img-div">
                              <img class="col-12 bg-register-image">
                          </div>
          
                      </div>
                  </div>
              </div>
          </div>
    </body>
</html>

{% endblock content %}