{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
	<link rel="shortcut icon" href="{% static 'assets/img/bento.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"> -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>
<body>
    {% for i in data %}
    <header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-right ">
			<a style="margin-left: 20px; padding-bottom: 0px;" class="navbar-brand" href="#"><img src="{% static 'assets/img/bento.png' %}" height="50px" width="50px" alt=""><span style="color: white; font-weight: bold; margin-left: 5px;">I2R</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
			  <ul class="navbar-nav">
				<li class="nav-item">
				  <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/search">Get Recipe</a>
				</li>
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{username}} &nbsp;<i class="fa fa-user"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					  {% if isLoggedIn %}
					  <a class="dropdown-item" href="/logout">Logout</a>
					  {% else %}
					  <a class="dropdown-item" href="/login">Login</a>
					  {%endif%}
					  <a class="dropdown-item" href="/profile">Profile</a>
					  <a class="dropdown-item" href="#">About</a>
					</div>
				  </li>
			  </ul>
			</div>
			
		  </nav>
	</header> 
    {% include './includes/messages.html' %}
<div style="position: relative; top: 90px;" class="container">
<div class="row">
    <div style="padding: 0px;" class="col-md-4">
        <div class="column">
            <div style="height: fit-content;padding: 0px; margin-left: 15px; margin-right: 15px;margin-bottom: 20px;-webkit-box-shadow: 6px 3px 16px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: 6px 3px 16px -5px rgba(0,0,0,0.75);
            box-shadow: 6px 3px 16px -5px rgba(0,0,0,0.75);" class="card">
            <img  class="card-img-top" height="180px" width="100%" src="https://images.pexels.com/photos/6974012/pexels-photo-6974012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{username}}</h5>
              <p class="card-text">{{mail}}</p>
              <div id="profile_button">
                  Profile
              </div>
              <hr style="margin: 0px;">
              <div onclick="edit_profile()" id="edit_profile">
                  Edit profile
              </div>
          <hr style="margin: 0px;">
          <div onclick="user_activity('{{uid}}')" id="edit_profile">
            User activities
        </div>
    <hr style="margin: 0px;">
          
            </div>
            
          </div>
          <div style="height: fit-content;padding: 0px; margin-left: 15px; margin-right: 15px;margin-bottom: 20px;-webkit-box-shadow: 6px 3px 16px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: 6px 3px 16px -5px rgba(0,0,0,0.75);
            box-shadow: 6px 3px 16px -5px rgba(0,0,0,0.75);border-radius: 0px;" class="card">
            <div class="card-body">
              <h5 class="card-title">Calories remaining per day</h5>
              <p style="margin-bottom: 10px;" class="card-text">{{i.5}} calories</p>
                <hr style="margin: 0px;">
            </div>
            
          </div>
        </div>
    </div>
   
  <div class="profile-info col-md-8">
      <div style="-webkit-box-shadow: 6px 3px 16px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 3px 16px -5px rgba(0,0,0,0.75);
box-shadow: 6px 3px 16px -5px rgba(0,0,0,0.75);" class="panel">
          <div style="font-size: 20px;" class="bio-graph-heading">
            Profile
          </div>
          <div  style="background: whitesmoke; padding-left: 20px;" class="panel-body bio-graph-info">
              <div style="color: black;" class="row">
                  <div style="margin-top: 10px;" class="bio-row">
                      <p><span style="font-weight: bold;color: black;">Name: </span> {{username}}</p>
                  </div>
                  <div style="margin-top: 10px;" class="bio-row">
                    <p><span style="font-weight: bold;color: black;">Age: </span> {{i.3}}</p>
                </div>
                <div class="bio-row">
                    <p><span style="font-weight: bold;color: black;">Height: </span> {{i.1}} cm</p>
                </div>
                <div class="bio-row">
                    <p><span style="font-weight: bold;color: black;">Weight: </span> {{i.2}} Kg</p>
                </div>
                  <div style="width: 100%;" class="bio-row">
                      <p ><span style="font-weight: bold;color: black;">Email: </span>{{mail}}</p>
                  </div>
                  
                  
              </div>
          </div>
      </div>
      <br>
      <div class="panel">
        <div style="font-size: 20px;" class="bio-graph-heading">
            Previously tried recipes
        </div>
        <div  style="background: whitesmoke; padding-left: 20px;height: 290px; overflow-y: scroll; overflow-x: hidden;" class="panel-body bio-graph-info">
            <h1 class="text-black-50 font-weight-bold"></h1>
            
           {% if user_receipe_list %}
           {% for i in user_receipe_list %}
           <div class="row">
           <h1>{{ forloop.counter }}.</h1>
           <img style="margin-left:8px;border-radius: 5px;" height="100%" width="100px" src="{% static ''|add:i.7 %}" alt="">
           <div class="col-md-8">
               <div class="column">
                   <h4>{{ i.1 }}</h4>
                   <h6 style="text-align: justify;">{{ i.8 }}</h6>
                   <h6><strong> Tried on: </strong>{{ i.13 }} <span style="margin-left: 20px;"><strong>Calories Intook:</strong>{% widthratio i.3 1 i.16 %}</span></h6>   
               </div>
           </div>
       </div>
       <hr>
           {% endfor%}
           {% else %} 
           <h5 style="text-align: center;">You have no previously tried Receipes</h5>
           {% endif %}
        </div>
    </div>
  </div>
  
</div>
</div>
<div onclick="clearme()" id="body" style="display: none; background: rgba(0, 0, 0, 0.589); height: -webkit-fill-available;width: 100%;position: absolute;top: 0%;">
    <!-- <div class="container-center" style="color: whitesmoke;position: 3;top: 70px;">
        hello
    </div>
    sdhsdgfgdsgf -->
    
</div>
<div id="insideact" class="col-md-4">
    <h4 style="color: whitesmoke;padding: 20px;">Activities</h4>
    <hr style="background-color: whitesmoke;margin:0px;margin-left: 20px;">
    <br>
    
            <div class="row justify-content-between" style="margin-left: 80px;margin-right: 80px;">
                <div onclick="running()" id="running" style="height: 50px;width: 50px;border-radius: 25px;background-color: whitesmoke;text-align: center;font-size: 25px;">
                    <img height="20px" width="20px" src="{% static 'assets/img/running.png' %}" alt="">
                </div>
                <div onclick="gym()" id="gym" style="height: 50px;width: 50px;border-radius: 25px;background-color: whitesmoke;text-align: center;font-size: 25px;">
                    <img height="20px" width="20px" src="{% static 'assets/img/dumbell.png' %}" alt="">
                </div>
                <div onclick="cycle()" id="cycle" style="height: 50px;width: 50px;border-radius: 25px;background-color: whitesmoke;text-align: center;font-size: 25px;">
                    <i class="fa fa-bicycle" style="color: black;"></i>
                </div>
            </div>
    <h6 class="text-white-50 font-weight-bold" style="padding: 20px;">No of hours: <span><input  type="number" id="quantity" name="quantity" min="1" max="5"></span></h6>
    <div style="padding: 20px;">
        <button id="actbutton" onclick="mh()">
            Done
        </button>
    </div>
    
</div>
<div id="editme" class="col-md-6">
    <h4 style="color: whitesmoke;padding: 20px;">Edit Profile</h4>
    <hr style="background-color: whitesmoke;margin:0px;margin-left: 20px;">
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_gender" value="{{i.4}}" >
        <div style="padding-left: 20px;">
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-2"">
                    <h5 class="text-white-50 font-weight-bold">Name:</h5>
                </div>
                <div class="col-md-6">
                    <input name="name" id="editname" type="text" value="{{username}}">
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-2">
                    <h5 class="text-white-50 font-weight-bold">Age:</h5>
                </div>
                <div class="col-md-6">
                    <input name="age" id="editage"  type="text" value="{{i.3}}">
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-2">
                    <h5 class="text-white-50 font-weight-bold">Height:</h5>
                </div>
                <div class="col-md-6">
                    <input name="height" id="editheight"  type="text" value="{{i.1}}">
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-2">
                    <h5 class="text-white-50 font-weight-bold">Weight:</h5>
                </div>
                <div class="col-md-6">
                    <input name="weight" id="editweight"  type="text" value="{{i.2}}">
                </div>
            </div>
        </div> 
        <div style="padding: 20px;">
            <button id="actbutton" type="submit">
                Update
            </button>
        </div>
    </form>           
    
</div>
<script>
    function user_activity(id){
        console.log(id)
        window.location.href = '/record/'+id
    }
    function edit_profile(){
        document.getElementById('body').style.display = 'block'
        
        var body = document.body,html = document.documentElement;
        var height = Math.max( body.scrollHeight, body.offsetHeight, 
                       html.clientHeight, html.scrollHeight, html.offsetHeight );
            document.getElementById('body').style.height = height+'px';
            document.getElementById('editme').style.top = '50%';
            document.body.style.overflowY = 'hidden'
        document.getElementById('edit_profile').style.background = '#03000021'
        document.getElementById('profile_button').style.background = 'none'
    }
    function running(){
        document.getElementById('running').style.border = '3px solid red'
        document.getElementById('gym').style.border = 'none'
        document.getElementById('cycle').style.border = 'none'
    }
    function gym(){
        document.getElementById('gym').style.border = '3px solid red'
        document.getElementById('running').style.border = 'none'
        document.getElementById('cycle').style.border = 'none'
    }
    function cycle(){
        document.getElementById('cycle').style.border = '3px solid red'
        document.getElementById('gym').style.border = 'none'
        document.getElementById('running').style.border = 'none'
    }
    function mh(){
        alert("sf")
    }
    function activities(){
        document.getElementById('body').style.display = 'block'
        var body = document.body,html = document.documentElement;
        var height = Math.max( body.scrollHeight, body.offsetHeight, 
                       html.clientHeight, html.scrollHeight, html.offsetHeight );
            document.getElementById('body').style.height = height+'px';
            document.getElementById('insideact').style.top = '50%';
            document.body.style.overflowY = 'hidden'
        document.getElementById('activity').style.background = '#03000021'
        
    }
    function clearme(){
        document.body.style.overflowY = 'scroll'
        document.getElementById('body').style.display = 'none'
        document.getElementById('insideact').style.top = '-310px'
        document.getElementById('editme').style.top = '-310px'
        document.getElementById('running').style.border = 'none'
        document.getElementById('gym').style.border = 'none'
        document.getElementById('cycle').style.border = 'none' 
        document.getElementById('edit_profile').style.background = 'none'
        document.getElementById('profile_button').style.background = '#03000021'
        document.getElementById('activity').style.background = 'none'


    }
</script>
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'assets/js/jquery.superslides.min.js' %}"></script>
<script src="{% static 'assets/js/images-loded.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/baguetteBox.min.js' %}"></script>
<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script> 
{%endfor%}
</body>
</html>
{% endblock content %}
