{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="I2R Converter">
    <meta name="keywords" content="BMI , Healthy , HTML , JS , Web">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">
    <title>I2R Converter</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <style>
        i {
            color: rgb(50, 145, 50);
        }
        .description {
            text-align: justify;
        }
        .bold{
            font-size: 25px;
            font-weight: 600;
        }
        .btn{
            margin-right: 5px;
            margin-left: 5px;
            padding: 10px;
            border-radius: 10px;
        }
    </style>


</head>

<body>
    <nav class="navbar navbar-light shadow sticky-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="/">I2R Converter</a>            
            <div class=""  id="navcol-1">
                <a href = "/" class="ml-auto btn btn-light font-weight-bold" >Home</a>
                
            </div>
        </div>
    </nav>
    <main class="page login-page bg-white">
        <section class="clean-form dark">
            <div class="container">
                <div class="mt-3"></div>
                <h4 id="name_to_show"></h4>
                <div class="container text-center" id="image_to_show">
                    
                </div>

                <div class="container">
                    <!-- <div class="description">
                        <h6>French fries are arguably the perfect snack or side dish when you are craving for something crisp, salty, savory, cheesy or satisfying.</h6>
                    </div> -->
                    <div class="description" id="description">

                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-6">
                            <h4>Ingredients</h4>
                            <hr/>
                            <div class="container">
                                <span>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    3 Russet Potatoes
                                </span>
                                <br/>
                                <span>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    1 Cup Vegetable Oil 
                                </span>
                                <br/>
                                <span>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    Garlic Powder
                                </span>
                                <br/>
                                <span>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    Onion Powder
                                </span>
                                <br/>
                                <span>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    Paprika
                                </span>
                                <br/>
                                <span>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    Chilli FLakes
                                </span>
                                <br/>
                                <span>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    Oregano
                                </span>
                                <br/>
                                <span>
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    Black Pepper
                                </span>
                                <br/>
                                

                            </div>
                        </div>
                        <div class="col-6 border rounded-0">
                            <h4 class="mt-2">Nutritional Facts</h4>
                            <p id="quantities"></p>
                            <div>
                                <table class="table">
                                    <tr>
                                        <td>Calories</td>
                                        <th id="calories"></th>
                                    </tr>

                                    <tr>
                                        <td>Proteins</td>
                                        <th id="proteins"></th>
                                    </tr>

                                    <tr>
                                        <td>Fats</td>
                                        <th id="fats"></th>
                                    </tr>

                                    <tr>
                                        <td>Carbohydrates</td>
                                        <th id="carbo"></th>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <br/>
                    <div>
                        <h4>Directions :</h4>
                        <div class="container description" id="procedure">
                            <!-- <span>
                            <span class="bold">1</span>&nbsp; The choice to peel your potatoes or not is totally up to you. Some may prefer the ease of leaving them unpeeled, in which case you must be sure to scrub your potatoes thoroughly before cutting. Peeling them will give them a more uniform look, but you will be losing some of the nutrients that the skin has to offer. Again, the choice is yours. I peel them.<br/><hr/>
                            <span class="bold">2</span>&nbsp;The next step is cutting the potatoes. For this it is best to use a large standard chef’s knife and a cutting board. You are going for fries that are about ¼ to ⅓ inch thick. The best way to approach this is to cut a long slice off of the potato so that it has a flat side that you can rest it on.<br/><hr/>
                            <span class="bold">3</span>&nbsp; From there, make vertical cuts of uniform thickness. Once the entire potato is cut, cut them lengthwise. Alternately, you can stack the slices and cut them vertically into long sticks.<br/><hr/>
                            <span class="bold">4</span>&nbsp;As soon as the fries are cut they must be put in a bowl and covered immediately in ice cold water. This will not only prevent them from turning grey, but will also draw some of the starch away from the surface of the potatoes. This is important because it will eliminate the chance of the fries sticking together when they cook. A minimum of 1 to 2 hours soak in the refrigerator is all they need. I also prefer to add some ice cubes to the pot. <br/><hr/>
                            <span class="bold">5</span>&nbsp;After that, simply drain the water and pour fresh ice cold water to the same bowl. We are rinsing the potato sticks here with the ice cold water. Drain to a colander.<br/><hr/>
                            <span class="bold">6</span>&nbsp;Wipe them with a clean kitchen cloth to remove any starch on the surface of the potato sticks. At this stage I also prefer to separate the long and short sticks so they can be fried in separate batches. This way they will fry uniformly.<br/><hr/>
                            <span class="bold">7</span>&nbsp;After that you will transfer them to a tray for quick drying, to minimize the splatters while frying. Do not let the fries sit too long, we need to fry the cold potato sticks.<br/><hr/>
                            <span class="bold">8</span>&nbsp;While your potatoes are drying you can proceed with getting your oil up to temperature for the next step which is oil blanching. A large, heavy bottomed pan/ pot or Dutch oven works well here. You can start by filling the pot about halfway with your oil and heat it gently to about 300 degrees F (148 to 150 degrees Celsius). If you do not have a deep fry thermometer, fry them on a medium hot oil. But for best results, I insist you use it so you fry it at right temperature.<br/><hr/>
                            <span class="bold">9</span>&nbsp;Once it has reached that point, you can begin blanching your fries, being careful not to crowd the pan/ pot.<br/><hr/>
                            <span class="bold">10</span>&nbsp;After about 3 minutes you can remove them from the oil.<br/><hr/>
                            <span class="bold">11</span>&nbsp;Drain them on to a wired rack or a perforated tray and allow them to cool completely. Continue on with frying the rest of the fries, draining them well afterwards and allowing them to cool completely before proceeding with the actual frying.<br/><hr/>
                            <span class="bold">12</span>&nbsp;Once your fries have been oil blanched you can move forward with the deep frying process. You will use the same oil you used to oil blanch but start at a higher temperature. It is important to use a thermometer for this step, raising the oil to 350 degrees Fahrenheit (176 degrees Celsius).<br/><hr/>
                            <span class="bold">13</span>&nbsp;Gently lower the fries into the oil, being careful not to overcrowd the pan/ pot.<br/><hr/>
                            <span class="bold">14</span>&nbsp;They will rise to the surface and begin to take on color in a few minutes. Once they are golden light brown you can carefully remove them from the oil and allow them to drain on a wired rack.<br/><hr/>
                            <span class="bold">15</span>&nbsp;The finishing touch for your French fries can be as simple as a generous sprinkle of fine salt. Without a doubt, this is both classic and delicious. However, if you wish to take your French fries to the next level, give this shaker fries seasoning a try. It is a savory mix of garlic powder, onion powder, dried basil, oregano, dried red chili flakes, paprika and black pepper. Sprinkle this generously onto your hot fries and enjoy a well-rounded flavor that really makes your French fries sing!.Add the French fries to a large bowl and sprinkle the seasoning as much as you need. Toss them. Season each batch separately and serve them right away.  Also note that the French fries will begin to lose their crispness as they sit any longer, especially after the seasoning.<br/><hr/>

                            </span> -->
                        </div>
                    </div>
                    <div class="header">
                        <h4>Categories :</h4>
                        <div class="row">
                            <button class="btn btn-primary">Snacky</button>
                            <button class="btn btn-success">Easy</button>
                            <button class="btn btn-danger">Spicy</button>
                            <button class="btn btn-warning">Cheesy</button>
                            <button class="btn btn-info">Sides</button>

                        </div>

                    </div>

                </div>

                <div class="m-3 p-3">
                    &nbsp;
                </div>



            </div>
        </section>
    </main>
    <script>
        var t=JSON.parse(localStorage.getItem('recipe_detail'))
        document.getElementById('name_to_show').innerHTML = t.name
        document.getElementById('image_to_show').innerHTML = '<img src="'+t.imageURL+'" class="text-center p-3 m-2 border col-8">'
        document.getElementById('description').innerHTML = '<h6>'+t.description;+'</h6';
            document.getElementById('procedure').innerHTML = t.procedure+'<hr>'
            document.getElementById('quantities').innerHTML = 'Serving per '+t.quantity
            document.getElementById('fats').innerHTML = t.fats
            document.getElementById('proteins').innerHTML = t.proteins
            document.getElementById('carbo').innerHTML = t.carbohydrates
            document.getElementById('calories').innerHTML = t.calories
    </script>
    
</body>

</html>


{% endblock content %}