{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="I2R Converter">
    <meta name="keywords" content="BMI , Healthy , HTML , JS , Web">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>I2R Converter</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light shadow sticky-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="/">I2R Converter</a>            
            <div class=""  id="navcol-1">
                <a href = "" class="ml-auto btn btn-light font-weight-bold" >Home</a>
                
            </div>
        </div>
    </nav>
    <main class="page login-page bg-white">
        <section class="clean-form dark">
            <div class="container">
                <div class="rounded border m-3 p-1 col-12">
                    <div class="row">
                        <div class="col-lg-2 col-3">
                            Bingo
                        </div>
                        <div class="col-lg-10 col-9">
                            Typo
                        </div>
                    </div>
                </div>

                <div class="rounded border m-3 p-1 col-12">
                    <div class="row">
                        <div class="col-lg-2 col-3">
                            Bingo
                        </div>
                        <div class="col-lg-10 col-9">
                            Typo
                        </div>
                    </div>
                </div>

                <div class="rounded border m-3 p-1 col-12">
                    <div class="row">
                        <div class="col-lg-2 col-3">
                            Bingo
                        </div>
                        <div class="col-lg-10 col-9">
                            Typo
                        </div>
                    </div>
                </div>

                <div class="rounded border m-3 p-1 col-12">
                    <div class="row">
                        <div class="col-lg-2 col-3">
                            Bingo
                        </div>
                        <div class="col-lg-10 col-9">
                            Typo
                        </div>
                    </div>
                </div>

                <div class="rounded border m-3 p-1 col-12">
                    <div class="row">
                        <div class="col-lg-2 col-3">
                            Bingo
                        </div>
                        <div class="col-lg-10 col-9">
                            Typo
                        </div>
                    </div>
                </div>

                <div class="rounded border m-3 p-1 col-12">
                    <div class="row">
                        <div class="col-lg-2 col-3">
                            Bingo
                        </div>
                        <div class="col-lg-10 col-9">
                            Typo
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    
    
</body>

</html>


{% endblock content %}