#virtual environment

my_env
env

#migrations file
migrations/*
__pycache__/*

#file extensions
*.log
*.pot
*.pyc
#cache files
migrations
*.DS_Store


myproj/myproj/__pycache__
myproj/myproj/__pycache__/
myproj/myproj/__pycache__/__init__.cpython-38.pyc
myproj/myproj/__pycache__/models.cpython-38.pyc
myproj/myproj/__pycache__/urls.cpython-38.pyc
myproj/myproj/__pycache__/wsgi.cpython-38.pyc

myproj/vegetable_predict_3.h5
myproj/templates/recipes.html
# myproj/*
myproj/myproj/files/*
myproj/runs/*
myproj/probably_the_last_one.pt
myproj/yolov5s.pt
myproj/yolo_weights.pt
myproj/last.pt
.gitignore
myproj/custom_best.pt
myproj/static/assets/img/rec/cauliflowercarrot.jpg
myproj/static/assets/img/rec/cauliflowerfriedrice.jpg
myproj/static/assets/img/rec/tomatobruschette.jpg
myproj/static/assets/img/rec/samosa.jpg
myproj/static/assets/img/recc/buns.jpg
myproj/static/assets/img/recc/idlichat.jpg
myproj/static/assets/img/recc/pancakes.jpg
myproj/static/assets/img/recc/sandwich.jpg
