#virtual environment

my_env
env

#migrations file
migrations/*
__pycache__/*

#file extensions
*.log
*.pot
*.pyc

#cache files
migrations
*.DS_Store


media
myproj/myproj/__pycache__
myproj/myproj/__pycache__/
myproj/myproj/__pycache__/__init__.cpython-38.pyc
myproj/myproj/__pycache__/models.cpython-38.pyc
myproj/myproj/__pycache__/urls.cpython-38.pyc
myproj/myproj/__pycache__/wsgi.cpython-38.pyc

