#virtual environment

my_env
env

#migrations file
migrations/*
__pycache__/*

#file extensions
*.log
*.pot
*.pyc
myproj/media/*
#cache files
migrations
*.DS_Store


media
myproj/myproj/__pycache__
myproj/myproj/__pycache__/
myproj/myproj/__pycache__/__init__.cpython-38.pyc
myproj/myproj/__pycache__/models.cpython-38.pyc
myproj/myproj/__pycache__/urls.cpython-38.pyc
myproj/myproj/__pycache__/wsgi.cpython-38.pyc

myproj/vegetable_predict_3.h5
myproj/templates/recipes.html
# myproj/*
myproj/myproj/files/*
myproj/runs/*
myproj/probably_the_last_one.pt
myproj/yolov5s.pt
myproj/yolo_weights.pt
myproj/last.pt

myproj/custom_best.pt
