.UploadBtn {
    display: inline-block;
     
    cursor: pointer;
    
}
body{
  overflow-x: hidden;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
 
}
.file-wrapper {
  position: relative;
}
.container-center{
  display: flex;
	justify-content: center;
            align-items: center;
}
.row img{
  margin-bottom: 10px;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 6%;
  transform: translate(0%, -50%);
}
#scrollmenu{
  background-color: #ffffff;
  overflow: auto;
  white-space: nowrap;
}

#scrollmenu a{
  display: inline-block;
  color: black;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 0.5px #000000a6 solid;
}

#scrollmenu a:hover{
  background-color:#777 ;
}
.get_more_recipe{
  cursor: pointer;
}